html {
    background: #eee;
    --body-padding: 2rem;
}

body {
    max-width: 700px;
    margin: 9 auto;
    padding: var(--body-padding);
    background: #fff;
}

article {
    margin-top: var(--body-padding);
    border: 1px solid #555;
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.26)
}

body > section:first-of-type > article:first-of-type {
    margin-top: 0;
}

article > div.title {
    display: flex;
}

article > div.title > h2.article-title {
    flex: 1;
    font-family: monospace;
    color: #ccf;
    margin: 0;
    border-bottom: 1px solid #666;
}

article > div.title > h2.article-title > b {
    color: #669;
}

article p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

pre {
    margin: 0;
}

code {
    display: inline-block;
    font-family: monospace;
    font-style: normal;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 2px 4px;
    margin: 1px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

div.content-with-aside {
    max-width: 80%;
    flex: 0.8;
} 

aside {
    flex: 0.2;
    font-size: 0.7rem;
    font-family: sans-serif;
    color: #999;
    border-left: 1px solid #555;
    padding-left: 0.25rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    transition: all .1s;
}

aside:hover {
    background: #efe;
    color: black;
    border: 1px solid #333;
    padding: 0.25rem;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
    transform-origin: top right;
    transform: scale(1.5);
}

aside a:link {
    color: #789;
}

aside a:visited {
    color: #789;
}

aside p {
    margin-top: 0.25rem;
}

div.container {
   display: flex;
}

footer {
    margin-top: 2rem;
}
