html {
    background: #eee;
    --body-padding: 2rem;
    
    --link-color: #458588;
    --link-visited-color: #8f3f71;
    
    --code-background-color: #f9f5d7;
    --tag-color: #665c64;
    --tag-bracket-color: #bdae93;
    --title-light-color: #ccf;
    --title-dark-color: #669;
    --css-punctuation-color: #b16286;
    --css-attribute-color: #669;
    --css-value-color: #b57614;
    
    --aside-hover-border-color: #d65d0e;
    --aside-hover-background: #3c3836;
    --aside-hover-color: #fbf1c7;

    --footer-height: 1.6rem;
}

body {
    width: 750px;
    margin: 0 auto;
    padding: var(--body-padding);
    background: #fff;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

article {
    position: relative;
    margin-top: var(--body-padding);
    border: 1px solid #555;
    border-radius: 0.25rem;
    padding: 1rem 1rem 2.3rem 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.26);
}

article > footer {
    position: absolute;
    bottom: 0.4rem;
    left: 0.7rem;
    width: 100%;
    height: var(--footer-height);
    display: flex;
}

article > footer > abbr {
    font-weight: bolder;
    margin: 0 2px;
    box-sizing: border-box;
    width: var(--footer-height);
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--aside-hover-background);
    color: var(--aside-hover-color);
    border: 2px solid var(--aside-hover-border-color);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
}

article > footer > abbr.no-endtag {
    text-decoration: line-through; 
}

article > footer > abbr.only-one {
    text-decoration: none;
}

body > section:first-of-type > article:first-of-type {
    margin-top: 0;
}

article > div.title {
    display: flex;
}

article > div.title > h2.article-title {
    flex: 1;
    font-family: monospace;
    color: var(--title-light-color);
    margin: 0;
    border-bottom: 1px solid #666;
}

article > div.title > h2.article-title > b {
    color: var(--title-dark-color);
}

article p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

pre {
    margin: 0;
    overflow-x: auto;
}

code {
    display: inline-block;
    font-family: monospace;
    font-style: normal;
    background-color: var(--code-background-color);
    color: #333;
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 2px 4px;
    margin: 1px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

code.keyword, span.keyword {
    color: var(--tag-color);
    font-weight: bold;
}

code span.bracket {
    color: var(--tag-bracket-color);
}

code span.tag-name {
    color: var(--tag-color);
    font-weight: bold;
}

code > span.attribute {
    color: var(--css-attribute-color);
    font-weight: bold;
}

code > span.punctuation {
    color: var(--css-punctuation-color);
}

code > span.value {
    color: var(--css-value-color);
}

div.content-with-aside {
    max-width: 80%;
    flex: 0.8;
} 

aside {
    flex: 0.2;
    font-size: 0.75rem;
    font-family: sans-serif;
    color: #999;
    border-left: 1px solid #555;
    padding-left: 0.25rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    transition: all .1s;
}

aside:hover {
    background: var(--aside-hover-background);
    color: var(--aside-hover-color);
    border: 4px solid var(--aside-hover-border-color);
    border-radius: 0.25rem;
    padding: 0.25rem;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
    transform-origin: top right;
    transform: scale(1.35);
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

aside p {
    margin-top: 0.25rem;
}

div.container {
   display: flex;
}

footer {
    margin-top: 2rem;
}
